{{ partial "header.html" . }}

	<main role="main">
		<article itemscope itemtype="http://schema.org/BlogPosting">
			<h1 class="entry-title" itemprop="headline">{{ .Title }}</h1>
			<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
			<section itemprop="entry-text">
				{{ .Content }}
			</section>
			<ul class="snsb">
				<li><a class="twitter-share-button" href="https://twitter.com/share" data-via="razon" data-dnt="true" data-count="vertical">Tweet</a></li>
				<li><div class="fb-like" data-href="{{ .Permalink }}" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div></li>
				<li><a href="http://b.hatena.ne.jp/entry/{{ .Permalink }}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ .Title }}" data-hatena-bookmark-layout="vertical-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a></li>
				<li><div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-href="{{ .Permalink }}"></div></li>
			</ul>
		</article>
	</main>

{{ partial "footer.html" . }}